.banner {
    display: flex;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    background-size: cover;
    width: 100%;
    height: 600px;
}

.banner .container{
    font-size: 50px;
    margin-left: 400px;
    color: #ffffff;
}

.banner span{
    font-weight: 800;
}

.banner p{
    width: 220px;
}

.social{
    width: 100%;
    height: 500px;
    background-color: #E5E5E5;
    justify-content: center;
}

.social .container{
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    width: 80%;
}

.social img{
    width: 150px;
    height: 150px;
}

.container .boxes{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 60px;
}

.boxes h4{
    color: #C44576;
}

.boxes p{
    width: 250px;
}
